<a href="https://colab.research.google.com/github/adeveloperdiary/DeepLearning_MiniProjects/blob/master/Predict_Basketball_Scores/Using_Deep_Learning_to_Predict_Basketball_Scores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [266]:
import numpy
from platform import python_version
import pandas as pd
import tensorflow as tf
import numpy as np

print(f'python version:{python_version()}')
print(f'numpy version: {numpy.version.version}')
print(f'pandas version: {pd.__version__}')
print(f'tensorflow version: {tf.__version__}')

python version:3.6.9
numpy version: 1.18.5
pandas version: 1.1.2
tensorflow version: 2.3.0

In [267]:
from google.colab import drive
drive.mount('/content/drive')
ROOT_DIR='/content/drive/My Drive/Colab Notebooks/datasets/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [268]:
games_raw=pd.read_csv(f'{ROOT_DIR}/Games.csv',names=['date','defending-team','d-score','challenging-team','c-score'],parse_dates=['date'],header=None)
teams_raw=pd.read_csv(f'{ROOT_DIR}/Teams.csv',names=['conference','team-name'],header=None)

In [269]:
games_raw

            date defending-team  d-score           challenging-team  c-score
0     2015-11-13         Hawaii       87                Montana St.       76
1     2015-11-13  Eastern Mich.       70                    Vermont       50
2     2015-11-13       Columbia      107                       Kean       62
3     2015-11-13     La.-Monroe       88                    McMurry       43
4     2015-11-13           Yale       70                  Fairfield       57
...          ...            ...      ...                        ...      ...
23488 2019-03-21        Hampton       81  St. Francis (B&#039;klyn)       72
23489 2019-03-21     La.-Monroe       87                 Kent State       77
23490 2019-03-21  CSU Fullerton       58            CSU Bakersfield       66
23491 2019-03-22  Southern Utah       80                      Drake       73
23492 2019-03-22      Creighton       79                    Memphis       67

[23493 rows x 5 columns]

In [270]:
teams_raw

           conference              team-name
0        America East                Vermont
1        America East            Stony Brook
2        America East                   UMBC
3        America East               Hartford
4        America East                 Albany
..                ...                    ...
348  Western Athletic     California Baptist
349  Western Athletic  Cal State Bakersfield
350  Western Athletic                Seattle
351  Western Athletic                   UMKC
352  Western Athletic          Chicago State

[353 rows x 2 columns]

In [271]:
teams_raw.set_index('team-name',drop=True, inplace=True)
teams_dict=teams_raw.to_dict(orient="index")

In [272]:
games_raw=games_raw.dropna()

In [274]:
games_raw['winner'] = np.where(games_raw['d-score']>games_raw['c-score'], games_raw['defending-team'], games_raw['challenging-team'])
games_raw['home-court'] = np.where(games_raw['winner']==games_raw['defending-team'], 1, 0)
games_raw['looser'] = np.where(games_raw['d-score']< games_raw['c-score'], games_raw['defending-team'], games_raw['challenging-team'])
games_raw.drop(['defending-team','challenging-team'],inplace=True,axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [275]:
def find_winner_conf(row):  
  name=row['winner']  

  if 'St.' in name and name not in teams_dict:
    name=name.replace('St.','State')
  elif 'Mich.' in name and name not in teams_dict:
    name=name.replace('Mich.','Michigan')
  elif 'Ala.' in name and name not in teams_dict:
    name=name.replace('Ala.','Alabama')
  elif 'U.' in name and name not in teams_dict:
    name=name.replace('U.','University')  
  elif 'Ill.' in name and name not in teams_dict:
    name=name.replace('Ill.','Illinois')  
  elif 'Ky.' in name and name not in teams_dict:
    name=name.replace('Ky.','Kentucky')  
  elif '&amp;' in name and name not in teams_dict:
    name=name.replace('&amp;','&')  
  elif 'Ga.' in name and name not in teams_dict:
    name=name.replace('Ga.','Georgia')  
  elif 'Caro.' in name and name not in teams_dict:
    name=name.replace('Caro.','Carolina')  
  elif '&#039;' in name and name not in teams_dict:
    name=name.replace('&#039;',"'")  
  

  if name in teams_dict:
    return teams_dict[name]['conference']
  else:    
    return ''

def find_loosing_conf(row):  
  name=row['looser']  

  if 'St.' in name and name not in teams_dict:
    name=name.replace('St.','State')
  elif 'Mich.' in name and name not in teams_dict:
    name=name.replace('Mich.','Michigan')
  elif 'Ala.' in name and name not in teams_dict:
    name=name.replace('Ala.','Alabama')
  elif 'U.' in name and name not in teams_dict:
    name=name.replace('U.','University')  
  elif 'Ill.' in name and name not in teams_dict:
    name=name.replace('Ill.','Illinois')  
  elif 'Ky.' in name and name not in teams_dict:
    name=name.replace('Ky.','Kentucky')  
  elif '&amp;' in name and name not in teams_dict:
    name=name.replace('&amp;','&')  
  elif 'Ga.' in name and name not in teams_dict:
    name=name.replace('Ga.','Georgia')  
  elif 'Caro.' in name and name not in teams_dict:
    name=name.replace('Caro.','Carolina')  
  elif '&#039;' in name and name not in teams_dict:
    name=name.replace('&#039;',"'")  
  

  if name in teams_dict:
    return teams_dict[name]['conference']
  else:    
    return ''

In [276]:
def update_team_names(old_name,new_name):
  games_raw.loc[games_raw['winner']==old_name,'winner']=new_name
  games_raw.loc[games_raw['looser']==old_name,'looser']=new_name


name_change=[('La.-Monroe','Louisiana-Monroe'),
             ('St. Francis (B&#039;klyn)','St Francis (BKN)'),
             ('CSU Fullerton','Cal State Fullerton'),
             ('Md.-East. Shore','Maryland-Eastern Shore'),
             ('St. John&#039;s (NY)','St John\'s'),
             ('St Johns','St John\'s'),
             ('UNC Wilmington','North Carolina-Wilmington'),
             ('Fla. Atlantic','Florida Atlantic'),
             ('Col. of Charleston','Charleston'),
             ('Loyola Maryland','Loyola (MD)'),
             ('UConn','Connecticut'),
             ('St. Bonaventure','St Bonaventure'),
             ('Central Conn. St.','Central Connecticut State'),
             ('Southern California','California'),
             ('Neb. Omaha','Nebraska-Omaha'),
             ('Louisiana','Louisiana Tech'),
             ('St. Peter&#039;s','St Peter\'s'),
             ('St Peters','St Peter\'s'),
             ('Saint Joseph&#039;s','Saint Joseph\'s (PA)'),
             ('South Fla.','South Florida'),
             ('SIU Edwardsville','SIU-Edwardsville'),
             ('St. Mary&#039;s (CA)','Saint Mary\'s'),
             ('East Tenn. St.','East Tennessee State'),
             ('Eastern Wash.','Eastern Washington'),
             ('UT Martin','Tennessee-Martin'),
             ('Southern Miss.','Southern Miss'),
             ('McNeese ','McNeese State'),
             ('Northern Colo.','Northern Colorado'),
             ('UT Arlington ','Texas-Arlington'),
             ('Southeastern La.','Southeastern Louisiana'),
             ('Albany (NY)','Albany'),
             ('S.C. Upstate','USC Upstate'),
             ('Bakersfield','Cal State Bakersfield'),
             ('Detroit','Detroit Mercy'),
             ('St. Francis (PA)','St Francis (PA)'),
             ('Mass.-Lowell','Massachusetts-Lowell'),
             ('N.C. A&amp;T','North Carolina A&T'),
             ('Northern Ariz.','Northern Arizona'),
             ('Stephen F. Austin','Stephen F Austin'),
             ('Charleston Southern','Charleston So.'),
             ('Mt. St. Mary&#039;s','Mount St Mary\'s'),
             ('LSU Shreveport','LSU'),
             ('Bryant University','Bryant'),
             ('S. Carolina St.','South Carolina State'),
             ('Geo. Washington','George Washington'),
             ('N&#039;western St.','Northwestern State'),
             ('Loyola Chicago','Loyola (IL)'),
             ('Lamar University','Lamar'),
             ('Fort Wayne','Purdue Fort Wayne'),
             ('Mississippi','Mississippi State'),
             ('Cal Baptist','California Baptist'),
             ('Southern Univ.','Southern University'),
             ('UNCG','UNC Greensboro'),
             ('Miami (Ohio)','Miami (OH)'),
             ('UIC','Illinois-Chicago'),
             ('Fairleigh D&#039;son','Fairleigh Dickinson'),
             ('UC Santa Barb.','UC Santa Barbara'),
             ('LMU','Loyola Marymount'),
             ('UMES','Maryland-Eastern Shore'),
             ('Cent. Conn. St.','Central Connecticut State'),
             ('Mich. St. ','Michigan State'),
             ('Loyola (Md.)','Loyola (MD)'),
             ('Ohio St. ','Ohio State'),
             ('St. Francis (Pa.)','St Francis (PA)'),
             ('Miami (Fla.)','Miami (FL)'),
             ('UNCW','North Carolina-Wilmington'),
             ('CSU Bakersfield','Cal State Bakersfield'),
             ('Omaha','Nebraska-Omaha'),
             ('Seattle U','Seattle'),
             ('Little Rock','Arkansas-Little Rock'),
             ('St. Mary&#039;s (Cal.)','Saint Mary\'s'),
             ('Texas A&amp;M-C.C.','Texas A&M'),
             ('CSUN','Cal State Northridge'),             
             ('SIUE','SIU-Edwardsville'),
             ('SFA','Stephen F Austin'),
             ('NC State','North Carolina State'),
             ('Army West Point','Army'),
             ('St. John&#039;s ','St John\'s'),
             ('Saint Joseph\'s','Saint Joseph\'s (PA)'),
             ('Prairie View','Prairie View A&M'),
             ('Central Ark.','Central Arkansas'),
             ('Mississippi Val.','Mississippi Valley State'),
             ('Ark.-Pine Bluff','Arkansas-Pine Bluff'),
             ('Southeast Mo. St.','Southeast Missouri State'),
             ('Middle Tenn.','Middle Tennessee'),
             ('Grambling','Grambling State'),
             ('UTRGV','Texas Rio Grande Valley'),
             ('Charleston So.','Charleston Southern'),          
             ('Bryant','Bryant University'),
             ('American','American University'),
             ('VMI','Virginia Military'),
             ('St. Francis (NY)','St Francis (BKN)'),
             ('N.C. Central','North Carolina Central'),
             ('IPFW','Purdue Fort Wayne'),
             ('FGCU','Florida Gulf Coast'),
             ('UALR','Arkansas-Little Rock'),
             ('UNI','Northern Iowa'),
             ('VCU','Virginia Commonwealth'),
             ('FIU','Florida International'),
             ('Penn','Pennsylvania')
             ]

for old_name,new_name in name_change:
  update_team_names(old_name,new_name)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [277]:
games_raw['winning-team-conf']=games_raw.apply(find_winner_conf, axis=1)
games_raw['loosing-team-conf']=games_raw.apply(find_loosing_conf, axis=1)

print(games_raw[games_raw['winning-team-conf']=='']['winner'].unique().size)
games_raw[games_raw['loosing-team-conf']=='']['looser'].unique().size

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

34

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

575

In [278]:
games_raw['year']=games_raw['date'].dt.year.astype('Int64')
games_raw['month']=games_raw['date'].dt.month.astype('Int64')
games_raw['day']=games_raw['date'].dt.day.astype('Int64')
games_raw.drop('date', axis=1, inplace=True)

games_raw['d-score']>games_raw['c-score']
games_raw

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       d-score  c-score                 winner  ...  year month day
0           87       76                 Hawaii  ...  2015    11  13
1           70       50          Eastern Mich.  ...  2015    11  13
2          107       62               Columbia  ...  2015    11  13
3           88       43       Louisiana-Monroe  ...  2015    11  13
4           70       57                   Yale  ...  2015    11  13
...        ...      ...                    ...  ...   ...   ...  ..
23488       81       72                Hampton  ...  2019     3  21
23489       87       77       Louisiana-Monroe  ...  2019     3  21
23490       58       66  Cal State Bakersfield  ...  2019     3  21
23491       80       73          Southern Utah  ...  2019     3  22
23492       79       67              Creighton  ...  2019     3  22

[23492 rows x 10 columns]

In [280]:
games_raw['score-diff']=(games_raw['d-score']-games_raw['c-score']).abs()
games_raw

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       d-score  c-score                 winner  ...  month day score-diff
0           87       76                 Hawaii  ...     11  13         11
1           70       50          Eastern Mich.  ...     11  13         20
2          107       62               Columbia  ...     11  13         45
3           88       43       Louisiana-Monroe  ...     11  13         45
4           70       57                   Yale  ...     11  13         13
...        ...      ...                    ...  ...    ...  ..        ...
23488       81       72                Hampton  ...      3  21          9
23489       87       77       Louisiana-Monroe  ...      3  21         10
23490       58       66  Cal State Bakersfield  ...      3  21          8
23491       80       73          Southern Utah  ...      3  22          7
23492       79       67              Creighton  ...      3  22         12

[23492 rows x 11 columns]

In [296]:
team_names=pd.concat([pd.Series(games_raw['winner'].unique()), pd.Series(games_raw['looser'].unique())], axis=0).unique()
team_names=np.random.permutation(team_names)

team_names_dict2int={name:i for i,name in enumerate(team_names)}
team_names_int2dict={team_names_dict2int[k]:k for k in team_names_dict2int.keys()}
print(team_names_dict2int)
print(team_names_int2dict)

{'Michigan': 0, 'CCNY': 1, 'Norfolk State': 2, 'Chicago State': 3, 'Olivet Nazarene': 4, 'Utah St.': 5, 'East Tex. Baptist': 6, 'Davidson': 7, 'Centenary (N.J.)': 8, 'Rochester (MI)': 9, 'Cin Clermont': 10, 'St. Mary&#039;s (Md.)': 11, 'Wofford': 12, 'Marquette': 13, 'E. Texas Bapt.': 14, 'Butler': 15, 'Angelo St.': 16, 'Toccoa Falls': 17, 'Siena Heights': 18, 'North Carolina St.': 19, 'Drake': 20, 'Southern Utah': 21, 'Hardin-Simmons': 22, 'Rice': 23, 'Union (NY)': 24, 'Chapman': 25, 'Florida A&amp;M': 26, 'Trinity Int&#039;l': 27, 'Cal St. L.A.': 28, 'Tabor': 29, 'Idaho St.': 30, 'BYU': 31, 'Molloy': 32, 'Delaware': 33, 'Fort Valley St.': 34, 'Cal St. East Bay': 35, 'LeMoyne-Owen': 36, 'Niagara': 37, 'Emerson': 38, 'Virginia Commonwealth': 39, 'Northern Ill.': 40, 'Caltech': 41, 'Bowie St.': 42, 'Rutgers-Newark': 43, 'Montreat': 44, 'Washington Col.': 45, "Saint Joseph's (PA)": 46, 'McNeese St.': 47, 'Louisiana Col.': 48, 'CSU Dom. Hills': 49, 'Tusculum': 50, 'Missouri Valley': 51, 'Boston U.': 52, 'Coastal Caro.': 53, 'Kent St.': 54, 'Illinois Tech': 55, 'Trinity Baptist': 56, 'Warner Southern': 57, 'Notre Dame de Namur': 58, 'Northeastern St.': 59, 'Southern Ore.': 60, 'Indianapolis': 61, 'William Woods': 62, 'FDU-Florham': 63, 'Sewanee': 64, 'Milligan': 65, 'Concordia (Neb.)': 66, 'LaGrange': 67, 'Wright State': 68, 'Pennsylvania': 69, 'Southwestern (TX)': 70, 'Belmont': 71, 'North Dakota': 72, 'North Park': 73, 'Virginia Military': 74, 'Boise St.': 75, 'Stanford': 76, 'S&#039;western (Texas)': 77, 'Lehigh': 78, 'Multnomah Bible': 79, 'Minnesota': 80, 'Western Ore.': 81, 'Tex. A&amp;M Int&#039;l': 82, 'Kansas St.': 83, 'North Alabama': 84, 'Lebanon Valley': 85, 'N&#039;western Ohio': 86, 'Elmira': 87, 'Marywood': 88, 'Carroll (MT)': 89, 'Bemidji State': 90, 'Ave Maria': 91, 'Angelo State': 92, 'Pitt.-Bradford': 93, 'Truman': 94, 'Cornell': 95, 'Hiram': 96, 'Greensboro': 97, 'Delaware St.': 98, 'Gonzaga': 99, 'Mobile': 100, 'Grand Canyon': 101, 'Kentucky St.': 102, 'Olivet': 103, 'Murray State': 104, 'Marist': 105, 'North Carolina-Wilmington': 106, 'Lesley': 107, 'TCU': 108, 'Col. of Idaho': 109, 'LSU-Alexandria': 110, 'Charlotte': 111, 'Fisher': 112, 'Sacramento St.': 113, 'Southern University': 114, 'Idaho State': 115, 'Connecticut': 116, 'Ill.-Chicago': 117, 'Kennesaw St.': 118, 'Illinois St.': 119, 'Florida Gulf Coast': 120, 'Lakeland': 121, 'Campbell': 122, 'Purdue-Calumet': 123, 'Anderson (IN)': 124, 'Ozarks (AR)': 125, 'Wyoming': 126, 'North Dakota St.': 127, 'Queens (NY)': 128, 'Denver': 129, 'Coppin State': 130, 'Holy Names': 131, 'Minnesota-Morris': 132, 'Thomas More': 133, 'Dakota St.': 134, 'Hampton': 135, 'Providence': 136, 'Findlay': 137, 'Syracuse': 138, 'Boston College': 139, 'Corban': 140, 'Minn. Duluth': 141, 'Eastern N.M.': 142, 'Northland': 143, 'Yale': 144, 'Chattanooga': 145, 'California Baptist': 146, 'Rogers St.': 147, 'Point U.': 148, 'Webber Int&#039;l': 149, 'Michigan St.': 150, 'Antelope Valley': 151, 'Emmanuel (GA)': 152, 'Oklahoma': 153, 'Fordham': 154, 'Jacksonville St.': 155, 'St. Mary&#039;s (TX)': 156, 'Binghamton': 157, 'Army': 158, 'Brevard': 159, 'Westmin. (Pa.)': 160, 'Hartwick': 161, 'Boise State': 162, 'North Greenville': 163, 'Southern Ill.': 164, 'Linfield': 165, 'Bryant University': 166, 'Trinity (TX)': 167, 'Cal St. Fullerton': 168, 'Jacksonville': 169, 'Reinhardt': 170, 'Rockhurst': 171, 'Indiana St.': 172, 'Northern Kentucky': 173, 'Elon': 174, 'Newberry': 175, 'Akron': 176, 'Palm Beach Atl.': 177, 'Rutgers': 178, 'Cal Poly': 179, 'Arizona Christian': 180, 'Peace': 181, 'Blue Mountain': 182, 'Limestone': 183, 'Goldey-Beacom': 184, 'Centenary (La.)': 185, 'Youngstown St.': 186, 'Lees-McRae': 187, 'Fisk': 188, 'Dartmouth': 189, 'Milwaukee': 190, 'Central Mich.': 191, 'Nevada': 192, 'Marian (Ind.)': 193, 'Columbia Int&#039;l': 194, 'Piedmont': 195, 'Frostburg State': 196, 'Ball State': 197, 'North Texas': 198, 'Houston Baptist': 199, 'Western Ill.': 200, 'Charleston Southern': 201, 'Spring Hill': 202, 'Rivier': 203, 'Texas Wesleyan': 204, 'NW Christian': 205, 'Ohio State': 206, 'Ohio Northern': 207, 'Union (TN)': 208, 'Bluefield Col.': 209, 'Georgia College': 210, 'James Madison': 211, 'Villanova': 212, 'UCF': 213, 'Curry': 214, 'Southern-N.O.': 215, 'Nebraska': 216, 'Troy': 217, 'East-West U.': 218, 'Cal State Fullerton': 219, 'Albany': 220, 'Buffalo': 221, 'Texas A&amp;M-Int&#039;l': 222, 'Wheelock': 223, 'Widener': 224, 'Coastal Ga.': 225, 'West Alabama': 226, 'Lewis &amp; Clark': 227, 'Ohio Dominican': 228, 'Oakland City': 229, 'Illinois': 230, 'Kentucky': 231, 'Florida Col.': 232, 'St. Jos. (Brkln.)': 233, 'Washington Adventist': 234, 'Johnson &amp; Wales (RI)': 235, 'Oklahoma State': 236, 'UNLV': 237, 'John. &amp; Wales (N.C.)': 238, 'Florida State': 239, 'Virginia': 240, 'St. Edward&#039;s': 241, 'South Carolina St.': 242, 'Selma': 243, 'Duke': 244, 'Colo. Christian': 245, 'Hawaii Hilo': 246, 'Wake Forest': 247, 'Farmingdale St.': 248, 'UC Riverside': 249, 'Moravian': 250, 'St. Catharine': 251, 'San Diego St.': 252, 'Southern Wesleyan': 253, 'Mass.-Boston': 254, 'Ga. Southwestern': 255, 'Lincoln (MO)': 256, 'Maryland': 257, 'SMU': 258, 'Berea': 259, 'Bridgewater ': 260, 'Eastern Kentucky': 261, 'Norfolk St.': 262, 'Trevecca Nazarene': 263, 'Randolph': 264, 'Campbellsville': 265, 'Susquehanna': 266, 'Michigan-Dearborn': 267, 'Southern Nazarene': 268, 'South Alabama': 269, 'Valparaiso': 270, 'Oral Roberts': 271, 'USC': 272, 'Grambling State': 273, 'Phila. Biblical': 274, 'Purdue Fort Wayne': 275, 'Northwood (MI)': 276, 'Purdue-North Cent.': 277, 'Washington': 278, 'Rosemont': 279, 'Ark.-Monticello': 280, 'UT Permian Basin': 281, 'Seton Hill': 282, 'Northwest Indian': 283, 'McMurry': 284, 'Whittier': 285, 'Prairie View A&M': 286, 'Medgar Evers': 287, 'Alabama St.': 288, 'Tampa': 289, 'Northwestern Ohio': 290, 'Indiana State': 291, 'Oregon Tech': 292, 'Kennesaw State': 293, 'Auburn': 294, 'Texas Southern': 295, 'Portland State': 296, 'East Central': 297, 'Alabama State': 298, 'Princeton': 299, 'Carver Bible': 300, 'Fresno St.': 301, 'Champion Bapt.': 302, 'UNC Greensboro': 303, 'McPherson': 304, 'Belmont Abbey': 305, 'Evansville': 306, 'Grace (IN)': 307, 'Colorado State': 308, 'Concordia (OR)': 309, 'Rocky Mountain': 310, 'Arkansas St.': 311, 'Judson': 312, 'Houston': 313, 'Cal St. Northridge': 314, 'Eckerd': 315, 'Dean College': 316, 'S&#039;west Minn. St.': 317, 'Wis.-La Crosse': 318, 'Texas Rio Grande Valley': 319, 'Texas': 320, 'Whitworth': 321, 'Spring Arbor': 322, 'Alabama A&amp;M': 323, 'SUNY Maritime': 324, 'Ecclesia': 325, 'Wilmington (Del.)': 326, 'Roanoke': 327, 'Oregon St.': 328, 'Oneonta St.': 329, 'Texas A&amp;M-Comm.': 330, 'La Roche': 331, 'Presentation': 332, 'Lincoln (Pa.)': 333, 'Eastern Illinois': 334, 'Baptist Bible (PA)': 335, 'Cal State Bakersfield': 336, 'Toledo': 337, 'Concordia-St. Paul': 338, 'Salem Int&#039;l': 339, 'Ozarks ': 340, 'UC Santa Barbara': 341, 'Loyola (IL)': 342, 'Milwaukee Engr.': 343, 'Albion': 344, 'Okla. Baptist': 345, 'Louisville': 346, 'San Diego Christian': 347, 'Catholic': 348, 'IIT': 349, 'Louisiana Tech': 350, 'Hawaii-Hilo': 351, 'Cedarville': 352, 'Daniel Webster': 353, 'Abilene Christian': 354, 'Pittsburgh': 355, 'Merchant Marine': 356, 'Madonna': 357, 'Loyola (LA)': 358, 'California Merced': 359, 'Oberlin': 360, 'A&amp;M-Corpus Chris': 361, 'Air Force': 362, 'Wash. Advent.': 363, 'Cumberland ': 364, 'John. &amp; Wales (R.I.)': 365, 'Alcorn St.': 366, 'Texas College': 367, 'Warren Wilson': 368, 'Grace Bible College': 369, 'Texas-Dallas': 370, 'Elizabeth City St.': 371, 'Oakwood': 372, 'Tennessee State': 373, 'St. Martin&#039;s': 374, 'Notre Dame': 375, 'Ferris St.': 376, 'Millersville': 377, 'Georgia St.': 378, 'La Salle': 379, 'Bethel (Tenn.)': 380, 'Mt. St. Vincent': 381, 'Tulane': 382, 'Northwest Nazarene': 383, 'Trinity (FL)': 384, 'Kentucky Wesleyan': 385, 'Lourdes': 386, 'Nebraska-Omaha': 387, 'Dixie State': 388, 'Paul Quinn': 389, 'Ottawa': 390, 'Alaska-Anch.': 391, 'John Jay': 392, 'Bryn Athyn': 393, 'West Coast Baptist': 394, 'Missouri S&amp;T': 395, 'Biola': 396, 'Louisiana Coll.': 397, 'Citadel': 398, 'Tiffin': 399, 'SUNY Oneonta': 400, 'Northwestern State': 401, 'Cleveland State': 402, 'Avila': 403, 'LeTourneau': 404, 'Cheyney': 405, 'La Verne': 406, 'Purdue': 407, 'Saint Louis': 408, 'Franciscan': 409, 'Boyce': 410, 'Michigan State': 411, 'Pepperdine': 412, 'Lake Erie': 413, 'Missouri St.': 414, 'Massachusetts-Lowell': 415, 'Iowa St.': 416, 'Maryland-Eastern Shore': 417, 'UMKC': 418, 'Wagner': 419, 'Cincinnati': 420, 'Menlo': 421, 'St Bonaventure': 422, 'Aquinas': 423, 'Alas. Anchorage': 424, 'Embry-Riddle (FL)': 425, 'Hood': 426, 'Northern Ky.': 427, 'Creighton': 428, 'George Mason': 429, 'Point Loma': 430, 'St. Andrews': 431, 'Great Falls': 432, 'Northeastern': 433, 'Defiance': 434, 'Harris-Stowe': 435, 'Roosevelt': 436, 'UTEP': 437, 'Erskine': 438, 'Bridgewater (VA)': 439, 'Manchester': 440, 'Schreiner': 441, 'Bob Jones': 442, 'Western New Eng.': 443, 'Prairie View A&amp;M': 444, 'Black Hills St.': 445, 'Minn.-Morris': 446, 'Georgia State': 447, 'Loyola (MD)': 448, 'Kent State': 449, 'Northwestern St.': 450, 'Nicholls St.': 451, 'NYIT': 452, 'Southeastern Louisiana': 453, 'Lynchburg': 454, 'Xavier (LA)': 455, 'Mississippi Coll.': 456, 'Samford': 457, 'Howard Payne': 458, 'Penn St.': 459, 'Valley City St.': 460, 'Quincy': 461, 'Pomona-Pitzer': 462, 'Bradley': 463, 'Our Lady Of The Lake': 464, 'Georgian Court': 465, 'UC Irvine': 466, 'Johnson &amp; Wales (NC)': 467, 'Gallaudet': 468, 'Florida': 469, 'Texas St.': 470, 'Western State': 471, 'San Jose St.': 472, 'Lyon': 473, 'East. Mennonite': 474, 'Ohio Valley': 475, 'Pine Manor': 476, 'Ferrum': 477, 'Richmond': 478, 'Hannibal-La Grange': 479, 'Francis Marion': 480, 'South Dakota St.': 481, 'Mitchell': 482, 'Northern Colorado': 483, 'Utica': 484, 'Vanguard': 485, 'Fairleigh Dickinson': 486, 'Tennessee Tech': 487, 'Murray St.': 488, 'Lyndon State': 489, 'Fresno State': 490, 'Wilmington (Ohio)': 491, 'Goucher': 492, 'BYU-Hawaii': 493, 'Tex. Permian Basin': 494, 'Lewis': 495, 'Hendrix': 496, 'South Ala.': 497, 'Cal Lutheran': 498, 'East Tennessee State': 499, 'Wright St.': 500, 'Eastern Mich.': 501, 'Crown (MN)': 502, 'McKendree': 503, 'Indiana-Kokomo': 504, 'Piedmont Int&#039;l': 505, 'Western St.': 506, 'Dominican (Ill.)': 507, 'Doane': 508, 'Arkansas Tech': 509, 'Marygrove': 510, 'Northwestern': 511, 'Drexel': 512, 'California': 513, 'Cal St. Monterey Bay': 514, 'Mayville St.': 515, 'Northwest (Wash.)': 516, 'Pfeiffer': 517, 'Indiana-Northwest': 518, 'Brescia': 519, 'Florida Tech': 520, 'Cal St. San Marcos': 521, 'Chadron St.': 522, 'Vermont': 523, 'Medaille': 524, 'Wayland Baptist': 525, 'Brown': 526, 'Shenandoah': 527, 'Dallas': 528, 'Cal State Northridge': 529, 'Tougaloo': 530, 'West Virginia': 531, 'USC Upstate': 532, 'Rockford': 533, 'Canisius': 534, "St Peter's": 535, 'Hiwassee': 536, 'Regis (CO)': 537, 'DePaul': 538, 'Fayetteville St.': 539, 'Arizona': 540, 'Savannah State': 541, 'New Hampshire': 542, 'Urbana': 543, 'Wilberforce': 544, 'Florida St.': 545, 'Tennessee-Martin': 546, 'Ky. Christian': 547, 'Middle Ga. St.': 548, 'San Jose State': 549, 'Oklahoma St.': 550, 'Wisconsin': 551, 'Huntingdon': 552, 'Seton Hall': 553, 'Tuskegee': 554, 'Bethel (TN)': 555, 'Carnegie Mellon': 556, 'Asbury': 557, 'Texas A&amp;M': 558, 'Kenyon': 559, 'MIT': 560, 'Holy Cross': 561, 'Chicago St.': 562, 'Kean': 563, 'Colorado': 564, 'Stockton': 565, 'Lindenwood': 566, 'Ind.-South Bend': 567, 'Fort Lewis': 568, 'Quinnipiac': 569, 'Edward Waters': 570, 'West Va. Wesleyan': 571, 'Oglethorpe': 572, 'Saint Leo': 573, 'Mt. St. Mary (NY)': 574, 'Western N.M.': 575, 'George Washington': 576, 'Hawaii Pacific': 577, 'Keystone': 578, 'Lyndon St.': 579, 'Johnson': 580, 'Master&#039;s': 581, 'Coe': 582, 'Thiel': 583, 'Dalton St.': 584, 'St Francis (BKN)': 585, 'Robert Morris': 586, 'Clarion': 587, 'Longwood': 588, 'Iona': 589, 'Mt. St. Joseph': 590, 'Mo.-St. Louis': 591, 'Bowling Green': 592, 'Penn St.-Harrisburg': 593, 'Morgan State': 594, 'UMBC': 595, 'Missouri': 596, 'Columbia International': 597, 'Messiah': 598, 'Utah': 599, 'Arizona St.': 600, 'Mercy': 601, 'Wartburg': 602, 'Duquesne': 603, 'Hartford': 604, 'Trinity Christian': 605, 'Western Illinois': 606, 'Westmin. (Utah)': 607, 'Chaminade': 608, 'Harvard': 609, 'Wabash': 610, 'Jackson St.': 611, 'Long Beach St.': 612, 'Central Baptist': 613, 'South Dakota': 614, 'York (NE)': 615, 'No. New Mexico': 616, 'Lenoir-Rhyne': 617, 'South Dakota Mines': 618, 'Howard': 619, 'Morehouse': 620, 'Montana Tech': 621, 'Rhode Island': 622, 'Washington (Md.)': 623, 'Concordia College': 624, 'Wayne St. (NE)': 625, 'Alice Lloyd': 626, 'Paine': 627, 'Tenn. Wesleyan': 628, 'Puget Sound': 629, 'Utah State': 630, 'Staten Island': 631, 'Middle Tennessee': 632, 'Montana': 633, 'Mary Washington': 634, 'St. Mary&#039;s (MN)': 635, 'Siena': 636, 'Texas Lutheran': 637, 'Le Moyne': 638, 'Illinois-Chicago': 639, 'Missouri State': 640, 'Hawaii': 641, 'Florida International': 642, 'Pacific': 643, 'N.C. Wesleyan': 644, 'Miami (FL)': 645, 'Misericordia': 646, 'Iowa State': 647, 'Green Bay': 648, 'Illinois State': 649, 'Eastern Oregon': 650, 'Allen': 651, 'Me.-Presque Isle': 652, 'Crowley&#039;s Ridge': 653, 'Wis.-Superior': 654, 'Arkansas-Pine Bluff': 655, 'Mississippi Col.': 656, 'San Francisco': 657, 'Wichita State': 658, 'Portland St.': 659, 'Wis.-Parkside': 660, 'Muskingum': 661, 'UT Tyler': 662, 'Dillard': 663, 'Tennessee': 664, 'Anderson (SC)': 665, 'Waldorf': 666, 'Utah Valley': 667, 'Worcester St.': 668, 'McNeese State': 669, 'St. Joseph&#039;s (IN)': 670, 'Haskell': 671, 'Humboldt State': 672, 'Tennessee St.': 673, 'Northern Iowa': 674, 'Henderson St.': 675, 'University of the Southwest': 676, 'William &amp; Mary': 677, 'St. Mary&#039;s (MD)': 678, 'Morehead St.': 679, 'Denison': 680, 'Oak Hills Christian': 681, 'Mansfield': 682, 'Mo. Southern St.': 683, 'Maryville (MO)': 684, 'North Carolina': 685, 'Montana St.': 686, 'Savannah St.': 687, 'Towson': 688, 'Kansas': 689, 'Fontbonne': 690, 'IUPUI': 691, 'Emporia St.': 692, 'Thomas (GA)': 693, 'Catawba': 694, 'Simpson (CA)': 695, 'Queens (N.Y.)': 696, 'American University': 697, 'Adams St.': 698, 'Bloomsburg': 699, 'LSU': 700, 'Appalachian St.': 701, 'William Carey': 702, 'LIFE Pacific': 703, 'Simpson': 704, 'North Carolina Central': 705, 'Eastern Ore.': 706, 'Hillsdale Baptist': 707, 'Pacific Lutheran': 708, 'Fort Hays St.': 709, 'Concord': 710, 'Ohio St.': 711, 'Pensacola Christian': 712, 'Wash. &amp; Lee': 713, 'Valley Forge Chrst.': 714, 'New Mexico': 715, 'Southern U.': 716, 'New Hope Christian': 717, 'Bemidji St.': 718, 'Wilson': 719, 'Georgia': 720, 'Trinity (Texas)': 721, 'Averett': 722, 'Rust': 723, 'York (PA)': 724, 'Stephen F Austin': 725, 'Brewton Parker': 726, 'Loyola (La.)': 727, 'Newbury': 728, 'Claflin': 729, 'Cornell College': 730, 'Bluefield St.': 731, 'Coker': 732, 'UC Davis': 733, 'St. Thomas (MN)': 734, 'Voorhees': 735, 'Rio Grande': 736, 'Maine-Fort Kent': 737, 'Centenary (NJ)': 738, 'Bethesda Christian': 739, 'Westminster (PA)': 740, 'Sonoma St.': 741, 'Okla. Panhandle': 742, 'St Francis (PA)': 743, 'Miami (OH)': 744, 'Wesley': 745, 'Louisiana-Monroe': 746, 'Centenary (LA)': 747, 'North Florida': 748, 'Iowa': 749, 'Portland': 750, 'Gordon': 751, 'Tulsa': 752, 'NJIT': 753, 'Seattle': 754, 'Wheaton (MA)': 755, 'CSU Stanislaus': 756, 'Jarvis Christian': 757, 'Montana-Western': 758, 'Mercer': 759, 'Gardner-Webb': 760, 'UTSA': 761, 'Colgate': 762, 'Lafayette': 763, 'Arkansas-Little Rock': 764, 'Central Wash.': 765, 'St. Ambrose': 766, 'Furman': 767, 'Fla. National': 768, 'Stony Brook': 769, 'Notre Dame (OH)': 770, 'Marshall': 771, 'UAB': 772, "Mount St Mary's": 773, 'South Florida': 774, 'New Orleans': 775, 'Alcorn State': 776, 'San Fran. St.': 777, 'Georgia Tech': 778, 'Colorado St.': 779, 'Monmouth': 780, 'Mississippi St.': 781, 'Huston-Tillotson': 782, 'Mississippi State': 783, 'Morgan St.': 784, 'Dubuque': 785, 'UC Santa Cruz': 786, 'Ark.-Fort Smith': 787, 'Sonoma State': 788, 'Ga. Southern': 789, 'Old Dominion': 790, 'John. &amp; Wales (Colo.)': 791, 'Goshen': 792, 'Elms': 793, 'Oakland': 794, 'Rochester (Mich.)': 795, 'Southern Va.': 796, 'Mo. Western St.': 797, 'Emory': 798, 'Mary': 799, 'St. Francis (Ill.)': 800, 'Memphis': 801, 'Winthrop': 802, 'Johnson &amp; Wales (CO)': 803, 'Jackson State': 804, 'Central State ': 805, 'Columbia': 806, 'Geneva': 807, 'Arkansas State': 808, 'Methodist': 809, 'Sam Houston St.': 810, 'Radford': 811, 'Concordia (Mich.)': 812, 'UC San Diego': 813, 'South Carolina': 814, 'Coppin St.': 815, 'Wiley': 816, 'Pacific Union': 817, 'LIU Brooklyn': 818, 'Northern Mich.': 819, 'Concordia (MI)': 820, 'Stetson': 821, 'Cleveland St.': 822, 'Cincinnati Christian': 823, 'Massachusetts': 824, 'Ill.-Springfield': 825, 'Arcadia': 826, 'Georgetown': 827, 'Mount Aloysius': 828, 'Bethune-Cookman': 829, 'Austin Peay': 830, 'Westminster (MO)': 831, 'Sul Ross St.': 832, 'Dickinson State': 833, 'Harding': 834, 'UNC Asheville': 835, 'N.M. Highlands': 836, 'Long Island': 837, 'North Carolina State': 838, 'Heidelberg': 839, 'Texas Tech': 840, 'Chowan': 841, 'Benedictine Mesa': 842, 'Liberty': 843, 'Central Connecticut State': 844, 'Concordia (NE)': 845, 'Detroit Mercy': 846, 'Eastern Ill.': 847, 'Northwest (WA)': 848, 'Virginia Tech': 849, 'Santa Clara': 850, 'South Carolina State': 851, 'Cumberland (TN)': 852, 'Williams Baptist': 853, 'Presbyterian': 854, 'Hofstra': 855, 'Washington St.': 856, 'Fla. Christian': 857, 'Southeast Missouri State': 858, 'Oregon': 859, 'Arlington Baptist': 860, 'Ouachita Baptist': 861, 'Idaho': 862, 'Morehead State': 863, 'Alabama': 864, 'Clemson': 865, 'Southeastern Okla.': 866, 'Florida Mem.': 867, 'Central Arkansas': 868, 'Colorado Col.': 869, 'Western Caro.': 870, 'Minn.-Crookston': 871, 'Wentworth': 872, 'Ky. Wesleyan': 873, 'Buena Vista': 874, 'Conc. (Texas)': 875, 'Walla Walla': 876, 'Glenville State': 877, 'Silver Lake': 878, 'Morris': 879, 'Lipscomb': 880, 'Fresno Pacific': 881, 'Florida Atlantic': 882, 'Sarah Lawrence': 883, 'Eastern': 884, 'East Carolina': 885, 'Miles': 886, 'Mars Hill': 887, 'Manhattanville': 888, 'McGill': 889, 'Nazareth': 890, 'Weber State': 891, 'Austin': 892, 'Cabrini': 893, 'Mississippi Valley State': 894, 'Fairfield': 895, 'Indiana': 896, 'Delaware State': 897, 'Davis &amp; Elkins': 898, 'John Brown': 899, 'Incarnate Word': 900, 'George Fox': 901, 'Ball St.': 902, 'Manhattan': 903, 'Eastern Washington': 904, 'Loyola Marymount': 905, 'Aub.-Montgomery': 906, 'St. Mary&#039;s (Texas)': 907, 'Earlham': 908, 'Charleston': 909, 'Central St. (OH)': 910, 'Chestnut Hill': 911, 'Alma': 912, 'Southern Miss': 913, 'N&#039;west Nazarene': 914, 'Colorado Mesa': 915, 'SIU-Edwardsville': 916, 'Wichita St.': 917, 'Adrian': 918, 'Malone': 919, 'Bethany (WV)': 920, 'Frostburg St.': 921, 'Navy': 922, 'Central Penn': 923, 'Lincoln (PA)': 924, 'Skidmore': 925, 'Covenant': 926, 'Willamette': 927, 'Ursinus': 928, 'Ole Miss': 929, 'Lamar': 930, 'S&#039;eastern Okla.': 931, 'Rider': 932, 'Millsaps': 933, 'Sacred Heart': 934, 'Notre Dame (Ohio)': 935, 'Western Ky.': 936, 'Bucknell': 937, 'Western Mich.': 938, 'North Ga.': 939, 'West Va. Tech': 940, 'Texas A&M': 941, 'Lander': 942, 'Simon Fraser': 943, 'Bristol': 944, 'William Jessup': 945, 'Eastern Ky.': 946, 'Cal St. Dom. Hills': 947, 'Wilmington (DE)': 948, 'Ohio Christian': 949, "St John's": 950, 'Arkansas': 951, 'Dayton': 952, 'Truett-McConnell': 953, 'Tex. A&amp;M-Kingsville': 954, 'North Carolina A&T': 955, 'Mid-Atlantic Christ.': 956, 'Mayville State': 957, 'Nicholls State': 958, "Saint Mary's": 959, 'San Diego State': 960, 'Rowan': 961, 'Baylor': 962, 'Salve Regina': 963, 'St. Francis (IL)': 964, 'Maine': 965, 'Texas State': 966, 'Northern Arizona': 967, 'UVa-Wise': 968, 'UCLA': 969, 'William Jewell': 970, 'Cairn': 971, 'Texas-Tyler': 972, 'Vanderbilt': 973, 'Chatham': 974, '

In [299]:
games_raw['winner_num']=games_raw['winner'].apply(lambda x: team_names_dict2int[x])
games_raw['looser_num']=games_raw['looser'].apply(lambda x: team_names_dict2int[x])
games_raw

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       d-score  c-score  ... winner_num  looser_num
0           87       76  ...        641         686
1           70       50  ...        501         523
2          107       62  ...        806         563
3           88       43  ...        746         284
4           70       57  ...        144         895
...        ...      ...  ...        ...         ...
23488       81       72  ...        135         585
23489       87       77  ...        746         449
23490       58       66  ...        336         219
23491       80       73  ...         21          20
23492       79       67  ...        428         801

[23492 rows x 13 columns]

In [300]:
conf_names=pd.concat([pd.Series(games_raw['winning-team-conf'].unique()), pd.Series(games_raw['loosing-team-conf'].unique())], axis=0).unique()
conf_names=np.random.permutation(conf_names)

conf_names_dict2int={name:i for i,name in enumerate(conf_names)}
conf_names_int2dict={conf_names_dict2int[k]:k for k in conf_names_dict2int.keys()}
print(conf_names_dict2int)
print(conf_names_int2dict)

{'West Coast': 0, 'America East': 1, 'Atlantic 10': 2, 'Big Ten': 3, 'American Athletic Conference': 4, 'Big 12': 5, 'Pac-12': 6, 'Big South': 7, 'Mountain West': 8, '': 9, 'Southwestern Athletic': 10, 'Western Athletic': 11, 'Atlantic Coast': 12, 'Northeast': 13, 'Colonial Athletic': 14, 'Big East': 15, 'Southern': 16, 'Summit League': 17, 'Mid-Eastern': 18, 'Big West': 19, 'Horizon': 20, 'Mid-American': 21, 'Missouri Valley': 22, 'Ivy League': 23, 'Conference USA': 24, 'Southeastern': 25, 'Ohio Valley': 26, 'Atlantic Sun': 27, 'Metro Atlantic Athletic': 28, 'Patriot League': 29, 'Big Sky': 30, 'Southland': 31, 'Sun Belt': 32}
{0: 'West Coast', 1: 'America East', 2: 'Atlantic 10', 3: 'Big Ten', 4: 'American Athletic Conference', 5: 'Big 12', 6: 'Pac-12', 7: 'Big South', 8: 'Mountain West', 9: '', 10: 'Southwestern Athletic', 11: 'Western Athletic', 12: 'Atlantic Coast', 13: 'Northeast', 14: 'Colonial Athletic', 15: 'Big East', 16: 'Southern', 17: 'Summit League', 18: 'Mid-Eastern', 19: 'Big West', 20: 'Horizon', 21: 'Mid-American', 22: 'Missouri Valley', 23: 'Ivy League', 24: 'Conference USA', 25: 'Southeastern', 26: 'Ohio Valley', 27: 'Atlantic Sun', 28: 'Metro Atlantic Athletic', 29: 'Patriot League', 30: 'Big Sky', 31: 'Southland', 32: 'Sun Belt'}

In [302]:
games_raw['winning-team-conf_num']=games_raw['winning-team-conf'].apply(lambda x: conf_names_dict2int[x])
games_raw['loosing-team-conf-num']=games_raw['loosing-team-conf'].apply(lambda x: conf_names_dict2int[x])

games_raw.drop(['winner','looser','winning-team-conf','loosing-team-conf'],inplace=True, axis=1)

games_raw

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       d-score  c-score  ...  winning-team-conf_num  loosing-team-conf-num
0           87       76  ...                     19                     30
1           70       50  ...                     21                      1
2          107       62  ...                     23                      9
3           88       43  ...                     32                      9
4           70       57  ...                     23                     28
...        ...      ...  ...                    ...                    ...
23488       81       72  ...                      7                     13
23489       87       77  ...                     32                     21
23490       58       66  ...                     11                     19
23491       80       73  ...                     30                     22
23492       79       67  ...                     15                      4

[23492 rows x 11 columns]

In [305]:
y=np.where(games_raw['d-score']>games_raw['c-score'], games_raw['d-score'],games_raw['c-score'])
games_raw.drop(['d-score','c-score'],inplace=True, axis=1)
games_raw

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       home-court  year  ...  winning-team-conf_num  loosing-team-conf-num
0               1  2015  ...                     19                     30
1               1  2015  ...                     21                      1
2               1  2015  ...                     23                      9
3               1  2015  ...                     32                      9
4               1  2015  ...                     23                     28
...           ...   ...  ...                    ...                    ...
23488           1  2019  ...                      7                     13
23489           1  2019  ...                     32                     21
23490           0  2019  ...                     11                     19
23491           1  2019  ...                     30                     22
23492           1  2019  ...                     15                      4

[23492 rows x 9 columns]

In [326]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False)
cat_data=games_raw.drop(['home-court','year','month','day','score-diff'],axis=1)
one_hot_data=one_hot_encoder.fit_transform(cat_data.values)
print(one_hot_data.shape)
num_data=games_raw.drop(['winner_num','looser_num','winning-team-conf_num','loosing-team-conf-num'],axis=1).values

X=np.concatenate([num_data,one_hot_data],axis=1)
print(X.shape)

np.savetxt(f'{ROOT_DIR}/Games-Calculated.csv',X,delimiter=',')

(23492, 1487)
(23492, 1492)